.application-header {
  display: flex;
  background-color: rgb(37, 50, 56);
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.application-logo {
  padding-left: 10px;
  align-self: center;
}

@media screen and (max-width: 600px) {
  .application-header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .application-logo {
    align-self: flex-start;
  }
}

.application-header-searchbox {
  display: flex;
  align-items: center;
  width: 300px;
  align-self: flex-start;
  height: 60px;
}

#search-icon {
  height: 27px;
  padding: 0px 0px 0px 10px;
}

.login-button-icon {
  padding-right: 10px;
}

.login-modal-tabs {
  margin-bottom: 20px;
}

.modal-window {
  position: "absolute";
  width: 400;
  top: "50%";
  left: "50%";
  right: "auto";
  bottom: "auto";
  margin-right: "-50%";
  transform: translate(-50%, -50%);
}

.form-control {
  width: 100%;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.red {
  color: red;
}

.profile-button-icon {
  padding-right: 10px;
}

.login-button-icon {
  padding-right: 10px;
}

#profile-menu{
  margin-top: 30px;
  padding: 0px;
  margin-left: 20px;
}
